html {
    scroll-behavior: smooth;
}

body {
    background-color: #F3F3F9;
    margin: 16px;
    margin-top: 100px;
    margin-bottom: 8vh;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    /* color: #858796; */
    text-align: left;
    /* background-color: #fff; */
}

#preloader {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999999999;
    background: #fff;
}

.loader {
    position: absolute;
    width: 5rem;
    height: 10rem;
    top: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 2.5s ease-in-out infinite, color 5s ease-in-out infinite;
    stroke-linecap: round;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -3.5rem;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -12.4rem;
    }
}

@keyframes color {

    100%,
    0% {
        stroke: #008744;
    }

    40% {
        stroke: #373737;
    }

    66% {
        stroke: #008744;
    }

    80%,
    90% {
        stroke: #373737;

    }
}

.text-nav {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.text-number {
    font-family: Arial, Helvetica, sans-serif;
    color: #858796;
}

h5 {
    font-size: 1rem;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.car-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
}

.text-muted {
    color: #8898aa !important;
}

.navbar {
    background-color: white;
}

.navbar .navbar-brand h3 {
    font-family: 'Great Vibes', cursive;
    color: #37AA00;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.progress {
    vertical-align: baseline;
}

.btn-outline-danger,
.fa-trash:hover {
    color: white;
}

.per_days {
    border: 1px solid #eeee;
    border-left: 2.8px solid #0db607ec;
    margin-top: 15px;
}

.table-actived {
    background-color: #b8fcb518;
    color: #0db607ec;
    border: 2px solid #10cf0934;
}

.table-empty {
    border-left: 2.8px solid #e2433d;
    background-color: #fcaaaa1a;
    color: #b62a074d;
}

.table th {
    color: rgb(20, 20, 20);
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #858796;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #e3e6f0;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e3e6f0;
}

.table tbody+tbody {
    border-top: 2px solid #e3e6f0;
}

.separator {
    border: 1.5px solid #37AA00;
    height: 0px;
    width: 15%;
}

.card-piket {
    background-color: #b8fcb518;
    border: 1px solid #37AA00;
    border-left: 2.8px solid #37AA00;
    border-radius: 2px;
    padding: 15px;
}

.card-piket-border-right {
    border: 1px solid #37AA00;
    border-right: 2.8px solid #37AA00;
    border-radius: 2px;
}

.card-piket-empty {
    border: 1px solid #e2433d;
    border-left: 2.8px solid #e2433d;
    background-color: #fcaaaa1a;
    color: #b62a074d;
    border-radius: 2px;
}

.card {
    border: none;
    transition: 0.3s;

}

.card .hover-modal:hover {
    cursor: pointer;
    background-color: #ebebeb;
}

nav .active .nav-link {
    color: #37AA00;
    font-weight: bold;
    border-bottom: 4px solid #37AA00;
}

.my-custom-scrollbar {
    position: relative;
    height: 473px;
    overflow: auto;
    transition: all 0.3s ease-in-out;
}

.table-wrapper-scroll-y {
    display: block;
    transition: all 0.3s ease-in-out;
}

.my-custom-scrollbar-matkul,
.table-wrapper-scroll-y,
.my-custom-scrollbar {
    position: relative;
    height: 60vh;
    overflow: hidden;
    transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    /* opacity: 0; */
}

.my-custom-scrollbar-matkul:hover,
.table-wrapper-scroll-y:hover,
.my-custom-scrollbar:hover {
    overflow: auto;
    transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    /* opacity: 1; */
}


.table-wrapper-scroll-y-matkul {
    display: block;
    transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}

.table-wrapper-scroll-y::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    height: 7px;
    transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}

.table-wrapper-scroll-y::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
    height: 7px;
    width: 7px;
    overflow: visible;
    transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}

.table-wrapper-scroll-y::-webkit-scrollbar-thumb {
    background-color: rgba(54, 170, 0, 0.233);
    height: 5px;
    overflow: visible;
    transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}

.table-wrapper-scroll-y:hover {
    transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;

}

input {
    border-radius: 50%;
    padding: 10px;
}

footer {
    width: 100%;
    bottom: 0;
}

.showme {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.showhim:hover .showme {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}


/* [class*="container"] {
    width: 100%;
} */

@media only screen and (min-width: 600px) {
    .body {
        width: min-content;
    }

    .name-task {
        left: 20px;
    }
}

@media only screen and (min-width: 414px) {
    .body {
        width: min-content;
    }

    .col-xl-8,
    .col-xl-5 {
        margin-bottom: 30px;
    }

    .name-task {
        left: 30px;
    }

    .text-number {
        width: 20%;
    }

    .txt-center {
        text-align: center;
    }

    .text-deadline {
        margin-top: -15px;
        right: -180px;
    }

    .text-deskripsi {
        margin-left: 35px;
    }
    .text-desc {
        margin-top: 25px;
    }

    .piket {
        width: 40%;
        padding-left: 2px;
        padding-right: 2px;
    }     
@media only screen and (min-width: 1024px) {
    .body {
        width: min-content;
    }

    .col-xl-8,
    .col-xl-5 {
        margin-bottom: 30px;
    }

    .name-task {
        left: 30px;
    }

    .text-number {
        width: 20%;
    }

    .txt-center {
        text-align: center;
    }

    .text-deadline {
        margin-top: -15px;
        right: -180px;
    }

    .text-deskripsi {
        margin-left: 35px;
    }

     .piket {
        width: 40%;
        padding-left: 2px;
        padding-right: 2px;
    }     

    @media only screen and (min-width: 1200px) {
        .body {
            width: min-content;
        }

        .col-xl-8,
        .col-xl-5 {
            margin-bottom: 30px;
        }

        .name-task {
            left: 0px;
        }

        .text-deskripsi {
            margin-left: -10px;
        }

        .text-deadline {
            left: 0;
            margin-top: 0px;
        }

    }